@font-face {
	font-family: "Playfairdisplay";
    src: url("./Fonts/playfairdisplay-black-webfont.woff") format("woff");
    
}
@font-face {
font-family: 'roboto-regular';
	src: url('./fonts/roboto-regular-webfont.woff') format('woff');
}

body {
	margin: 0;
	font-family: 'Playfairdisplay';
	
}

.h {
	width: 100%;
	color: #000000;
	border: 0;
	display: block;
}

input::-webkit-input-placeholder {
	color: #000000;
}

#title {
	font-family: 'Playfairdisplay';
	font-size: 36px;
	outline: none;
}

#t {
	font-family: sans-serif;
	font-size: 24px;
	margin-bottom: 40px;
	outline: none;
}

form {
	width: 50%;
	margin: 30px auto 0 auto;
}

form .rf {
	margin-bottom: 50px;
}

form .rf p {
	color: #9B9B9B;
}

form .lrf {
	margin-bottom: 100px;
}

form button {
	display: block;
	width: 90px;
	margin-left: auto;
	margin-right: auto;
	padding: 12px;
	border-radius: 20px;
	border: 0;
	background-color: #4ABDE2;
	color: #ffffff;
	text-transform: uppercase;
}

form button:hover {
	cursor: pointer;
  	-webkit-animation: boton 4s infinite;
  	-moz-animation: boton 4s infinite;
  	-ms-animation: boton 4s infinite;
  	-o-animation: boton 4s infinite; 
     animation: boton 4s infinite;
}

 @-webkit-keyframes boton {
 	0% { background-color: #1abc9c; }
 	20% { background-color: #1AB4BC; }
 	40% { background-color: #1A8BBC; }
 	60% { background-color: #1A63BC; }
	
 	80% { background-color: #1A8BBC; }
 	100% { background-color: #1AB4BC; }
 }
 
 @keyframes boton {
 	0% { background-color: #1abc9c; }
 	20% { background-color: #1AB4BC; }
 	40% { background-color: #1A8BBC; }
 	60% { background-color: #1A63BC; }
 	80% { background-color: #1A8BBC; }
 	100% { background-color: #1AB4BC; }
 }


.rf label {
	text-align: left;
	margin-bottom: 5px;
	font-family: 'roboto-regular' , sans-serif;
	font-weight: bold;
}


.rf input,
.rf textarea {
	padding: 5px;
	outline: none;
	border: 1px solid #D8D8D8;
	transition: border .5s ease-out;
}

.rf input:hover,
.rf textarea:hover {
	outline: none;
	border: 1px solid #9B9B9B;
}

.rf input:focus,
.rf textarea:focus {
	outline: none;
	border: 1px solid #4ABDE2;
}

.rf textarea {
	resize: none;
	width: 100%;
	height: 300px;
	overflow: auto;
	box-sizing: border-box;
}

.rf input {
	width: 100%;
	height: 30px;
	box-sizing: border-box;
}

.rf input,
.rf textarea,
.rf label {
	display: block;
}
footer p{
	text-align: center;
}
footer a{
	text-decoration: none;
	color: #ccc;
}

